footer {
  background: url(image-path('pastel.png')) transparent no-repeat bottom right;
  min-height: 10em;
  position: relative;

  p {
    bottom: 0;
    font-family: $serif;
    margin: 0;
    padding-left: 1em;
    position: absolute;
  }
}
