.event-stream
  @media screen and (min-width: $large-screen)
    display: inline-block
    width: 52%
    vertical-align: top
    margin-right: 6%

    &:last-of-type
      width: 42%
      margin-right: 0
      font-size: 0.8em

.event
  $action-color: #829463
  $base-border-radius: 3px !default
  $base-spacing: 1.5em !default
  $dark-gray: #333 !default
  $base-font-color: $dark-gray !default
  $event-gutter: 1em
  $event-image-width: 4em
  $event-color: $base-font-color
  $event-detail-color: transparentize($event-color, 0.5)
  $event-image-vert-alignment: middle
  $event-forthcoming-color: transparentize($action-color, 0.9)

  border-bottom: 1px solid transparentize($event-color, 0.9)
  display: table
  margin-bottom: $base-spacing
  padding: 0 1em 1em
  width: 100%

  &.forthcoming
    background: linear-gradient(white, $event-forthcoming-color)


  &.event-header
    margin-bottom: 1rem
    margin-top: 2em
    padding: 0 1rem 1rem
    font-size: 1.2em
    font-variant: small-caps
    color: $event-detail-color
    letter-spacing: 0.2em

    @media screen and (min-width: $large-screen)
      margin-top: 3rem
      font-size: 1.5rem

  .event-image,
  .event-content
    display: table-cell
    vertical-align: $event-image-vert-alignment

  .event-image
    padding-right: $event-gutter

    > img
      border-radius: $base-border-radius
      display: block
      height: auto
      max-width: none
      width: $event-image-width

    .event-reverse-order &
      padding-left: 10px
      padding-right: 0

  .event-content
    width: 100%

    h2
      display: block
      font-size: 1em
      margin: 0
      text-align: left

      @media screen and (min-width: $large-screen)
        font-size: 1.1em
        margin: 0 1em 0.5em 0

    .event-selection-count
      display: inline-block
      width: 30%
      color: $event-detail-color
      font-size: 0.9em
      font-style: italic
      text-align: right

    .event-period
      display: inline-block
      width: 70%
      color: $event-detail-color
      text-align: left
