---
title: Homepage
description: 'Write less code, solve more problems'
---

h1 = data.settings.site.title
p = data.settings.site.description
p Je suis passionné par la peinture depuis plus de 20 ans et vous partage ma passion pour ce monde avec vous.

= partial 'localizable/gallery/me'
= partial 'localizable/gallery/paintings'
