---
title: Artiste peintre · Pastelliste
---

h1 = data.settings.site.title
h2 = data.settings.site.description

= partial 'localizable/gallery/me'
= partial 'localizable/gallery/navigation', locals: { anchor: :gallery }
= partial 'localizable/gallery/paintings'
= partial 'localizable/gallery/navigation', locals: { anchor: :events }
= partial 'localizable/gallery/events'
/ = partial 'localizable/gallery/navigation', locals: { anchor: :agenda }
= partial 'localizable/gallery/navigation', locals: { anchor: :contact }
